{% extends 'blog/base.html' %}
{% block content %}
    <h1>About Me</h1>
    <p>Thank you for visting my blog. I am Justice Essien, a software developer with 3 years hands on experience with
    python programming language. During my journey so far as a software engineer, I have acquired skills like Django
    (which I used to build this particular blog you are on), Javascript, Html, Css, Sql, Pandas, Numpy etc. Most of
    these technologies were fully implemented in the course of this website. Feel free to reach out to me on any of the
    following mediums:
        <ul>
            <li><a href="https://www.github.com/essien16">Github</a></li>
            <li><a href="https://www.linkedin.com/in/justice-essien-b28909147">LinkedIn</a></li>
            <li><p>Twitter: @essien_jay</p></li>
        </ul>

    </p>

{% endblock %}